<div class="container">
	<div class="row">
		<h1>購入情報入力</h1>
		<h2>支払情報</h2>

		<%= form_for @order, url:orders_confirm_path do |f| %>
			<label>
			<%= f.radio_button :payment, "クレジットカード" %> クレジットカード </label><br>
			<label><%= f.radio_button :payment, "銀行振込" %> 銀行振込</label>

		<h2>お届け先</h2>
			<label><%= f.radio_button :postage, "" %> ご自身の住所 </label><br>
			<%= @order.address %><br>
			<%= @order.name %><br>

			<label><%= f.radio_button :postage, "" %> 登録済みの住所から選択 </label><br>
			<%= f.select :payment, [] %><br>

			<label><%= f.radio_button :postage, "" %> 新しいお届け先 </label><br>
			<p>郵便番号 ハイフンなし</p>
			<%= f.text_field :postcode %>
			<p>住所</p>
			<%= f.text_field :address %>
			<p>宛名</p>
			<%= f.text_field :name %><br>
			<%= f.submit "確認画面へ進む" %>
		<% end %>
	</div>
</div>
