<div class='body'>
  <div class='container'>
  <p id="notice"></p>
  <h2>商品一覧画面 <%= link_to "+", new_admin_product_path %></h2>

  	<div class="col-lg-12">
  	<table class="table table-hover table-inverse">
  	<thead>
  		<tr>
  			<th>商品ID</th>
  			<th>商品名</th>
  			<th>税抜き価格</th>
  			<th>ジャンル</th>
    		<th>ステータス</th>
        <th>削除</th>
        <th>税込価格</th>
 		</tr>
 	</thead>

  	<tbody>
  	<% @products.each do |product| %>
  	<tr>
  	  <td><%= product.id %></td>
  	  <td><%= link_to product.name,admin_product_path(product) %></td>
  	  <td><%= number_to_currency(product.price) %></td>
      <td><%= product.genre.variety %></td>
      <td><%= product.product_status %></td>
      <!-- 削除とりあえず追加後からいらない -->
      <td><%=link_to "Destroy", admin_product_path(product), method: :delete%></td>
      <td><%= number_to_currency(product.price * @tax) %></td>

  	<% end %>
  	</tr>
  	</tbody>
	</table>
  	</div>


  </div>
</div>
