<div class='body'>
  <div class='container'>
    <h2>商品新規登録画面</h2>
    <div class="low">
      <%= form_for(@product, url: '/admin/products') do |f| %>
      <div class='col-xs-5'>

      <!-- <input type="file" class="product-img" name="product-img1" required=""> -->
      <!-- <div class="preview"></div> -->
      <%= f.attachment_field :image %>
      </div>
      <div class='col-xs-5'>
      <h4>商品名 <%= f.text_field :name %> </h4>

      <h4>商品説明 <%= f.text_area :introduction %> </h4>

      <h4>ジャンル  <%= f.select :genre_id, Genre.all.map { |str| str.variety } %></h4>

      <h4>税抜き価格 <%= f.text_field :price %> 円 </h4>

      <h4>販売ステータス <%= f.select :product_status, Product.product_statuses.keys.to_a, {} %>
      </h4>

      </div>
      <div class='col-xs-2'>
      <%= f.submit "新規登録" %>

      </div>
      <% end %>
    </div>
  </div>
</div>
