<div class="container">
	<h2>商品詳細</h2>
  	<div class="low">
  		<div class='col-xs-5'>
		<p>商品画像</p>
    	<%= attachment_image_tag @product, :image, :fill, 200, 200 %>
    	</div>
    	<div class='col-xs-5'>
		<p>商品名 <%= @product.name %> </p>

		<p>商品説明 <%= @product.introduction %> </p>

		<p>ジャンル <%= @product.genre.variety %> </p>

		<p>税込価格（税抜価格) <%= number_to_currency(@product.price * @tax) %> (<%= number_to_currency(@product.price) %>)
        </p>

		<p>販売ステータス <%= @product.product_status %> </p>

		</div>
		<div class='col-xs-2'>
		<%=link_to "編集する", edit_admin_product_path %>
		</div>
	</div>
</div>

